<div class="container">
<div class="container d-flex justify-content-center position-relative" style="margin-top: 152px;">
<button type="button" class="btn p-3 btn-primary" (click)="scan_btn()">Scan here</button>
<button type="button" class="ms-5 p-3 btn btn-primary">My Attendance</button>
</div>
<div class="container d-flex justify-content-center">
<div class="bg-light shadow p-3 mb-5 bg-body rounded overflow-auto m-3 mt-5" style="width:400px; height:500px;">
<label class="bg-danger small_square m-2"></label>
<label class="bg-danger small_square m-2"></label>
<label class="bg-danger small_square m-2"></label>
</div>
<div class="bg-light shadow p-3 mb-5 bg-body rounded overflow-auto m-3 mt-5" style="width:400px; height:500px;"></div>
<div class="bg-light shadow p-3 mb-5 bg-body rounded overflow-auto m-3 mt-5" style="width:400px; height:500px;"></div>
</div>

<div class="container d-flex justify-content-center">
    <div class="bg-light shadow p-3 mb-5 bg-body rounded overflow-auto m-3" style="width:400px; height:500px;"></div>
    <div class="bg-light shadow p-3 mb-5 bg-body rounded overflow-auto m-3" style="width:400px; height:500px;"></div>
    <div class="bg-light shadow p-3 mb-5 bg-body rounded overflow-auto m-3" style="width:400px; height:500px;"></div>
    </div>
</div>