
table{
    // margin-left: -8px;
    background-color: rgb(255, 255, 255);
}
td{
    padding: 3px 63px;
    text-align: center;
}

th{
    border-color: solid rgb(3, 29, 142);
}

.top_spacing
{
    margin-top: 84px;
}