<div class="container-fluid row w-100">
    
    <div class="col-2 bg-light">        
        <app-admin-credentials></app-admin-credentials>
    </div>
   
        <div class="col-lg ms-0 ps-0 top_spacing">
   
                <marquee behavior="scroll" direction="left" style="width: 1379px;" >New Class for Python will be started on [01/06/2024] -------- New Class for Angular will be started on [15/06/2024] -------- New Class for React will be started on [22/07/2024] -------- New Class for Power Bi will be started on [25/08/2024] -------- New Class for Data Analyst will be started on [30/06/2024] </marquee>
         
        <table class="table_style border-light mt-4" style="font-size: 20px">
            <tr class="border border-danger">
                <th class="text-center">Id No</th>
                <th class="">Username</th>
                <th class="">Password</th>
                <th class="">Contact Number</th>
                <th class="">Course</th>
                <th class="">Update</th>
                <th class="">Delete</th>
            </tr>
            <tr *ngFor="let item of stuData" class="border border-danger">
                <td class="text-center">{{item.id}}</td>
                <td class="">{{item.username}}</td>
                <td class="">{{item.password}}</td>
                <td class="">{{item.contactnumber}}</td>
                <td class="">{{item.course}}</td>
                <td class="">
                    <button type="button" class="btn btn-success" (click)="updateData(item.id)">Update</button> </td>
                <td class="">
                    <button type="button" class="btn btn-danger" (click)="deleteData(item.id)">Delete</button>             
                </td>
            </tr>
        </table>
        +
    </div>
        </div>
      
        
        
        
    
   
    