<div class="container-fluid row px-0 mx-0 w-100">
    <div class="col-2">
        <app-admin-credentials></app-admin-credentials>
    </div>
    <div class="col-lg ps-0 top_spacing">
        <marquee behavior="scroll" direction="left" style="width: 1379px;">{{scrolling_text}}</marquee>
        <table class="table_style border-danger" style="font-size: 20px">
            <tr class="border border-secondary">
                <th class="text-center">Id No</th>
                <th class="">Username</th>
                <th class="">Password</th>
                <th class="">Contact Number</th>
                <th class="">Course</th>
                <th class="">Update</th>
                <th class="">Delete</th>
            </tr>
            <tr *ngFor="let item of stuData" class="border border-secondary">
                <td class="text-center">{{item.id}}</td>
                <td class="">{{item.username}}</td>
                <td class="">{{item.password}}</td>
                <td class="">{{item.contactnumber}}</td>
                <td class="">{{item.course}}</td>
                <td class="">
                    <button type="button" class="btn btn-success" (click)="updateData(item.id)">Update</button> </td>
                <td class="">
                    <button type="button" class="btn btn-danger" (click)="deleteData(item.id)">Delete</button>             
                </td>
            </tr>
        </table>
    </div>
        </div>
      
        
        
        
    
   
    