<p>tutor-register works!</p>

<div class="container p-5">
    <h3>Tutor Registration</h3>
    <input type="text" id="username" class="mt-5" placeholder="Enter Username">
    <input type="number" id="contactnumber" class="mt-5" placeholder="Enter Contact Number">
    <select name="course" class="mt-5" id="course">
        <option value="Full stack">Full stack</option>
        <option value="Frontend">Frontend</option>
        <option value="Python">Python</option>
        <option value="Backend">Backend</option>
      </select>
      <input type="password" class="mt-5" id="password" placeholder="Enter Password">
      <input type="text" class="mt-5" id="cfm_password" placeholder="Confirm Password">
    <button type="button" id="login_button">Login</button>
</div>