<p>tutor-register works!</p>

<div class="container">
  <div class="login_box_container text-center">
  <h3> Tutor Registration </h3>
  <input type="text" id="username" class="input_box mt-3" placeholder="Enter Username">
  <input type="number" id="contactnumber" class="input_box mt-3" placeholder="Enter Contact Number">
  <select name="course" class="input_box mt-3" id="course">
    <option value="" disabled selected hidden>Teaching Courses</option>
      <option value="Full stack">HTML</option>
      <option value="Frontend">Frontend</option>
      <option value="Python">Python</option>
      <option value="Backend">Backend</option>
    </select>
    <input type="password" class="input_box mt-3" id="password" placeholder="Create Password">
    <input type="text" class="input_box mt-3" id="cfm_password" placeholder="Confirm Password">
    <button type="button" class="input_box mt-3 mb-3" id="login_button">Register</button><br>
    
</div></div>