.container {
  height: 100%;
  display: flex;
  justify-content: center;
}


.grad1 {
  width: 100%;
  display: flex;
  min-height: 900px;
  background-image: url("../assets/vivid-blurred-colorful-background.jpg");
}