.container {
  height: 100%;
  display: flex;
  justify-content: center;
}


.grad1 {
  width: 100%;
  display: flex;
  min-height: 900px;
  background-image: url("../assets/vivid-blurred-colorful-background.jpg");
}

.button{
  background-color: rgb(144, 0, 255);
  color:white;
  font-weight: 500;
  padding: 10px 20px;
  
}

.logout_button
{
  float: right;
  margin-right: 20px;
}