.new_container {
  height: 100%;
  display:block;

}

.grad1 {
  min-height: 880px;
  background-image: url("../assets/vivid-blurred-colorful-background.jpg") ;
}

.button{
  background-color: rgb(144, 0, 255);
  color:white;
  font-weight: 500;
  padding: 10px 20px;
  
}

.logout_button
{
  float: right;
  margin-right: 20px;
}

.size_modify{
  width: 2%;
  height: 3%;
  margin-right: 12px;
  margin-top: 17px;
}

.size_modify_email{
  width: 2%;
  height: 3%;
  margin-right: -37px;
  margin-top: 17px;
}