<p>forget-psd works!</p>

<div class="container text-center">
    <div class="login_box_container text-center">
    <h3> Forget Password </h3>
    <select name="login_type" class="input_box mt-3 mb-3" id="login_type">
        <option value="Student">Student</option>
        <option value="Tutor">Tutor</option>
        </select><br>
    <input type="text" id="username" class="input_box mt-3 mb-3" placeholder="Enter Username"><br>
    <input type="password" id="createpsd" class="input_box mt-3 mb-3" placeholder="Create Password"><br>
    <input type="password" id="cfm_createpsd" class="input_box mt-3 mb-3" placeholder="re-enter Password"><br>
    <button type="button" class="input_box mt-3 mb-3" id="login_button">Reset Password</button><br>
    
</div></div>