<div class="col-2 h-100 spacing_exact position-absolute bg-light position-fixed ">
  <ul class="nav nav-pills h5 bg-danger border border-1 border-light text-white w-100 style_hover">
    <li>
      <a href="/admin" class="nav-link ps-3 align-middle text-light ">Home</a>
    </li>
  </ul>
  <ul class="nav nav-pills h5 bg-danger border border-1 border-light text-white w-100">
    <li>
      <a href="/login" class="nav-link ps-3 align-middle text-light style_hover">Dashboard</a>
    </li>
  </ul>
  <ul class="nav nav-pills h5 bg-danger border border-1 border-light text-white w-100">
    <li>
      <a href="/adminStudentData" class="nav-link ps-3 align-middle text-white">Student Data</a>
    </li>
  </ul>
  <ul class="nav nav-pills h5 bg-danger border border-1 border-light text-white w-100">
    <li>
      <a href="/adminTutorData" class="nav-link ps-3 align-middle text-white">Tutor Data</a>
    </li>
  </ul>
  <ul class="nav nav-pills h5 bg-danger border border-1 border-light text-white w-100">
    <li>
      <a href="/login" class="nav-link ps-3 align-middle text-white">Admin Credentials</a>
    </li>
  </ul>
  <ul class="nav nav-pills h5 bg-danger border border-1 border-light text-white w-100">
    <li>
      <a href="/logout" class="nav-link ps-3 align-middle text-white">Logout</a>
    </li>
  </ul>
 
</div>