       
    <div class="h-100">
        <div class="nav nav-pills bg-light d-fixed me-5 ">
            <li><img src="../../assets/logo11.png" class="w-75 h-75"></li><br>
            
        
            <ul class="nav nav-pills ps-5 p-2 h5  bg-primary border border-1 border-light text-white w-100" >
            <li><a href="/admin" class="nav-link px-0 align-middle text-white">Home</a></li>
            </ul>
        <ul class="nav nav-pills ps-5 p-2 h5  W-100 bg-primary border border-1 border-light text-white w-100" >
            <li><a href="/login" class="nav-link px-0 align-middle text-white">Dashboard</a></li>
        </ul>
        <ul class="nav nav-pills ps-5 p-2 h5 bg-primary border border-1 border-light text-white w-100" >
            <li><a href="/adminStudentData" class="nav-link px-0 align-middle text-white">Student Data</a></li>
        </ul>
        <ul class="nav nav-pills ps-5 p-2 h5 bg-primary border border-1 border-light text-white w-100" >
            <li><a href="/adminTutorData" class="nav-link px-0 align-middle text-white">Tutor Data</a></li>
        </ul>
        <ul class="nav nav-pills ps-5 p-2 h5 bg-primary border border-1 border-light text-white w-100" >
            <li><a href="/login" class="nav-link px-0 align-middle text-white">Admin Credentials</a></li>
        </ul>
        <ul class="nav nav-pills ps-5 p-2 h5 bg-primary border border-1 border-light text-white w-100" >
            <li><a href="/logout" class="nav-link px-0 align-middle text-white">Logout</a></li>                      
        </ul>
    
        <hr>
       
            </div>
            <div class="dropdown align_admin_bottom">
                <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../assets/User-Profile-PNG-Clipart.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                    <span class="d-none d-sm-inline mx-1">Admin</span>
                </a>                    
            </div>
        </div>
         


