

.nav_hover:active
{
    background-color: aqua;
}

.align_admin_bottom
{
    margin-top: 133%;
    display: flex;
    justify-content: center;
}
.spacing_exact
{
    margin-left: -306px;
    margin-top: 113px;
}

li:active {
    background-color:green;
}

li:focus {
    background-color:green;
}
.active {
    background-color: #666;
}